<h1>Edit Categories</h1>


<div class="col-md-8">
  <%= form_for @category do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Category Name' %>
    </div>
    <div class="form-group">
      <%= f.label :approved %>
      <%= f.check_box :approved %> Approved
      <% end %>
    </div>
    <div clas="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
    </div>
</div>